.DS_Store
node_modules
.sass-cache
.secret
*.css.map
secrets.json
dist/*
preview/css
src/css/*.css


# Annoying OSX files
.DS_Store
._.DS_Store
._.TemporaryItems
.apdisk

# Annoying ST2/ST3 files
*.sublime-projectcompletions
*.sublime-project
*.sublime-workspace

#Tools
.alm
.vscode

# vscode stuffs
.vscode
