---
layout: default.hbs
subject: Magikcraft MCT1 Hackathon
---
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="https://www.magikcraft.io/mct1hackathon"><img src="https://www.magikcraft.io/sites/default/files/magikcraft_mct1hackdiabetes_header.png" width="100%" alt="Magikcraft MCT1 Hackathon"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p>We started Magikcraft because we wanted to help kids learn to code through play. But now we have another target: helping kids to learn how to manage Type 1 Diabetes.</p>
            <p>Type 1 Diabetes is typically diagnosed young: in many people, around 8-15 years old. The diagnosis introduces a whole new regimen of finger-pricking, carbohydrate-counting, and insulin injections. Getting it wrong can cause organ damage or life-threatening coma.</p>
            <p>The MCT1 project creates a version of Minecraft in which characters have Type 1 Diabetes. It will allow kids who've recently been diagnosed to learn how to manage their condition in a safe, fun environment.</p>
            <p>We're holding a Hackathon this weekend, 17-19 February.</p>
          </td>
        </tr>
        <tr>
          <td>
            <h2>Get involved</h2>
            <p>The Hackathon will need people with all sorts of skill sets, from Javascript coding and UX design to musicians and artists.</p>
            {{> button type='primary' url='https://www.eventbrite.com/e/mct1-hackathon-tickets-31411840661' title='Sign up for the full Hackathon experience' }}
          </td>
        </tr>
        <tr>
          <td>
            <h2>Launch event</h2>
            <p>The Hackathon will be launched with a free event at Fishburners on Friday evening. If you're curious about we're doing, please come along! Speakers include:</p>
            <ul>
              <li><strong>Dr Michael Dezuanni</strong>:&nbsp;QUT Associate Professor, co-author of&nbsp;<a href="http://eprints.qut.edu.au/99954/" target="_blank"><em>Serious Play: Literacy, Learning, and Digital Games</em></a>, based on a research project around&nbsp;teaching with digital games in primary and secondary schools.</li>
              <li><strong>Jordan Duffy</strong>:&nbsp;serial entrepreneur and tech innovation leader. Jordan was diagnosed with Type 1 Diabetes last year, and is a long-time passionate advocate of technology in the medical space.</li>
              <li><strong>Josh Wulf</strong>: co-founder of Magikcraft, legendary recruiter, and renowned tech entertainer.</li>
            </ul>
            {{> button type='primary' url='https://www.eventbrite.com/e/mct1-project-launch-tickets-32142676611' title='Book a Launch ticket now' }}
          </td>
        </tr>
        <tr>
          <td>


              <a href="https://www.youtube.com/watch?v=Yio_EMfB1hM">
                <img alt="" src="https://www.magikcraft.io/sites/default/files/b21bc478586f837f81532e82301f3545.png" width="564">
              </a>

          </td>
        </tr>
        <tr>
          <td style="color: #F2F2F2;">
            {{> notice type='info' text='“Our vision is that children will play Minecraft and learn how to manage their Type 1 Diabetes while they\'re still in hospital.”<br><br> -- Josh Wulf, Magikcraft founder' }}
          </td>
        </tr>
        <tr>
          <td>
            <p>If you have any questions, contact Josh Wulf on&nbsp;0431 929 675 or <a href="mailto:josh@magikcraft.io?subject=Hackathon" target="_blank">josh@magikcraft.io</a>.</p>
          </td>
        </tr>
        <tr>
          <td>
              <a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Feepurl.com%2FcChokP" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-facebook-48.png" width="48"></a>
          </td>
          <td>
              <a href="http://twitter.com/intent/tweet?text=%23HackDiabetes+with+us%21: http%3A%2F%2Feepurl.com%2FcChokP" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-twitter-48.png" width="48"></a>
          </td>
      </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td>
        <a href="http://fishburners.org/" target="_blank"><img src="https://gallery.mailchimp.com/a1034697d76de1660e45c6302/images/08972296-d1bc-405c-aea0-601419aff36a.png" width="150">
        </a>
      </td>
      <td>
        <a href="http://www.justdigitalpeople.com.au/" target="_blank" ><img src="https://gallery.mailchimp.com/a1034697d76de1660e45c6302/images/c4413273-e783-43cf-a580-957581df3bfd.jpg" width="75"></a>
      </td>
      <td>
        <a href="http://www.nightscoutfoundation.org/" target="_blank" ><img src="https://gallery.mailchimp.com/a1034697d76de1660e45c6302/images/1954eafc-3ad4-463f-a524-df1d84f3b26a.png" width="180"></a>
      </td>
      <td>
        <a href="http://www.diabetesqld.org.au/" target="_blank" ><img src="https://gallery.mailchimp.com/a1034697d76de1660e45c6302/images/3d6eea59-d9e3-44a5-954e-f616c7b6b2c1.jpg" width="87"></a>
      </td>
    </tr>
  </table>
</div>













